@import "/src/styles/buttons";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  &__feedback {
    @extend %button-dark;
  }
}

@media screen and (max-width: 500px) {
  .header__feedback {
    white-space: nowrap;
    padding: 12px 24px;
  }
}