@import "/src/styles/container";

* {
  box-sizing: border-box;
  font-family: "Futura PT", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  color: #fff;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4, h5 {
  font-size: 24px;
  margin: 0;
}

h5 {
  font-weight: 300;
}

p {
  font-weight: 300;
}

body {
  background: #181818;
  margin: 0;
  --swiper-theme-color: #EC3F3F;
  --site-color: #EC3F3F;
  --color-dark: rgba(236, 63, 63, .1);
  --color-light: #FF1E1E;
  --big-shadow-color: rgba(255, 30, 30, 1);
  --small-shadow-color: rgba(255, 30, 30, .3);
}

.container {
  @extend %container;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4, h5 {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h4, h5 {
    font-size: 16px;
  }
}